.cart {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 1.2rem;
}

.cart a > h4 {
  color: #fff;
}

.cart a > h4:hover {
  color: #49cbff;
}

.items {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  font-size: 1rem;
  width: 300%;
}

.cart:hover .items {
  display: flex;
  flex-direction: column;
}

.total {
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  background: #2452b4;
  font-size: 1.1rem;
}

.total span {
  margin-left: 1rem;
  color: #17e44a;
  font-weight: 600;
}

.carrito {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  background: #0671eb;
  font-size: 1.1rem;
  transition: all 0.2s;
}

.carrito:hover {
  background: #0035a7;
}

.carrito h4 {
  margin-left: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .cart {
    font-size: 1rem;
  }

  .items {
    width: 90vw;
  }
}
